.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited-css{
    background-color: tomato;

}
.non-visited{
    background-color: darksalmon;
}

.flag-container img{
    width: 150px;
    height: 100px;
    padding-left: 10px;
}